@import 'variables';

// width

@mixin sidebar-width {
    max-width: $sidebar-width !important;
    width: $sidebar-width!important ;
}

// shadow

@mixin drop-shadow-sm() {
    box-shadow: 5px 5px 10px $shadow;
}

@mixin inner-shadow-sm() {
    box-shadow: inset 5px 5px 20px $shadow;
}