@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

// width
$sidebar-width : 230px;

// font-family 
$base-font: 'Oswald', sans-serif;
$header-font : 'Inter',
sans-serif;

// color
$base-white : white;
$base-gray : #e7e7e7;
$base-blue : #5F7CFB;
$shadow : rgba(178, 178, 178, 0.5);
$border-radius-sm : 10px;