@import 'variables';
@import 'mixins';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// layout
section.ant-layout.wrapper-layout {
    min-height: 100vh;
}

// navbar 
header.ant-layout-header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $base-white;
    // @include drop-shadow-sm;
    // z-index: 10;

    h1.ant-typography {
        margin: 0;
        color: $base-blue;
        font-family: $header-font;
    }
}

// sidebar
aside.ant-layout-sider.sidebar {
    background-color: $base-white;
    // height: 100vh;
    // position: fixed;
    // overflow: auto;
    @include sidebar-width;
}

// content
main.ant-layout-content.content {
    background-color: $base-gray;
    @include inner-shadow-sm;
    padding: 20px;
    // display: flex;
    // flex-direction: column;
    // margin-left: $sidebar-width;

    div.wrapper-children {
        flex-grow: 1;
    }
}

// login form 

.login-form {
    border-radius: 20px;
    @include drop-shadow-sm;
}


// table
.ant-table {
    border-radius: $border-radius-sm;

    .ant-table-footer {
        text-align: right;

        .ant-typography {
            font-size: 0.94rem;

            span {
                font-size: 1.1rem;
            }
        }
    }
}

.ant-table-wrapper.checkup {
    .ant-table-thead>tr>th {
        padding: 5px 10px !important;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}


// general form 
form.ant-form {
    .ant-form-item {
        margin-bottom: 15px;

        .ant-form-item-label label {
            font-weight: 600;
        }
    }

    .ant-form-item:last-child {
        margin-top: 20px;
    }
}

.wrapper-form {
    background-color: $base-white;
    padding: 20px;
    border-radius: $border-radius-sm;
}